fieldset {
        overflow: hidden;
        position: relative;
        }
input[type=checkbox] {
        position: absolute;
        left: -999em;
        }
input[type=checkbox] + label {
        display: block;
        height: 50px;
        padding-left: 25px;
        background: url(../img/noCheck.png) top left no-repeat;
        }
input[type=checkbox]:checked + label {
        background-image: url(../img/check.png);
        }

label.checkbox_label {
	padding-top: 10px;
	padding-left: 8px;
}

.quarterBox {
	margin: 0em 0em 0.2em 0em;
	padding: 0.2em;
	font-size:12px;
}

.classList {
	list-style: none;
		margin: 0em 0em 0em 0em;
			padding: 0em 0em 0em 1em;
}
.title > h1{
	font-size: 18px;
	background-color: #FFFFFF;
	font-family: Calibri, Verdana, Sans-Serif;
		font-variant: small-caps;
			margin: 0px 0px 0px 0px;
				padding: 0em;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredientsList {
	font-size: 12px;
	background-color: #FFFFFF;
	font-family: Calibri, Verdana, Sans-Serif;
			margin: 0px 0px 0px 0px;
				padding: 0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleBox {
	margin: 0em auto;
	padding: 0.2em;
	border-bottom:1px solid #999;
}
img.portrait {
	float: left;
		border-bottom: solid 2px #CCCCCC;
			border-right: solid 2px #CCCCCC;
				border-top: solid 1px #EEEEEE;
				  border-left: solid 1px #EEEEEE;
						background-color: #FFFFFF;
							margin: 0px 8px 0px 1px;
								padding: 10px;
}

a.recipeView:link {
	text-decoration: none;
	color: #000
}
a.recipeView:hover {
	text-decoration: none;
	color: #000
}
a.recipeView:active {
	text-decoration: none;
	color: #000
}
a.recipeView:visited {
	text-decoration: none;
	color: #000
}
